
body {
	font-family: sans-serif;
	overflow: hidden;
}

.smisl{
	position: absolute;
/*	display: flex;*/
	top: 50px;
	left: 220px;
	width: 45%;
	height: 25%;
	background: rgba(0, 0,0, 0.6);
	z-index: 2;
	border-radius: 15px;
}

.heading{
	color: #BFE2FF;
	margin-top: 30px;
	margin-left: 20%;
}

.information{
	color: #fff;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 15px;
}

/*-------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

label {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
  	min-height: 100%;
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
}

form {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
input {
	position: absolute;
}

.keys {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}

input:focus ~ .keys {
	opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300%, 0, 0);
}

label {
	background: url(../images/Dota2.jpg);
	background-size: cover;
	font-size: 3rem;
	color: #ece0e0;
}

label[for="spades"]{
	background: url(../images/AmongUs.jpg);
	background-size: cover;
}

label[for="diamonds"]{
	background: url(../images/Overwatch2.jpg);
	background-size: cover;
	color: black;
}

label[for="hearts"]{
	background: url(../images/LethalCompany.jpg);
	background-size: cover;
}

label:before,
label:after {
	color: white;
	display: block;
	background: rgba(255,255,255,0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

label:before {
	background: #5a5656;
	opacity: 0.7;
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	background: #5a5656;
	opacity: 0.7;
	content: "\276C";
	left: 102.5%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}





